.input-container {
    position: relative;
}

.list-group {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 1000;
    li {
        cursor: pointer;
    }
}

.list-group-item {
    cursor: pointer;
}

.input-group-text {
    background-color: #ffffff;
}